<!-- {{MyNumbers|json}} -->

<div class="row">
    <div *ngFor="let MyNumber of MyNumbers" class="col">
       <div class="card" h-100>
            <h3 class="card-tile">
                Id : {{MyNumber.id}}  
            </h3>
            <h5 class="card-text">
                Az ember neve : {{MyNumber.name}}
            </h5>
            
            <h5 class="card-text">
                Az ember emailja : {{MyNumber.email}}
            </h5>
            <h5 class="card-text">
                Az ember kora : {{MyNumber.age}}
            </h5>
                
            
    </div>
    <div class="card-footer">
        <small class="text-muted">
            <div class="row">
                <div class="col mt-2">
                    {{MyNumbers.id}}
                    {{MyNumbers.name}}
                </div>
            </div>
        </small>
    </div>
    </div>
</div>
